@import url("/css/general.css");

@import url("/css/components/footer.css");
@import url("/css/components/header.css");
@import url("/css/components/mainCarousel.css");
@import url("/css/components/navbar-menu.css");
@import url("/css/components/navbar.css");

@import url("/css/ext/bootstrap.min.css");

/*----  <  CONTACT PAGE TITLE  >  ----*/

#contact-page-title {
  text-align: center;
  margin: 1em;
}

/*----  <  CONTACT PAGE FORM  >  ----*/

#contact-page-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
