/*----  <  NAVBAR  >  ----*/

#navbar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    gap: 10vw;
    align-items: center;
}

#navbar .navbar-img {
    width: 150px;
    height: 100%;
}

#navbar .navbar-img img {
    object-fit: cover;
}

#navbar #navbar-button {
    background: none;
    border: none;
}