<!-- Modal -->
<div class="modal fade" id="modal-memory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="modal-memory-title">Matrimonio de Maria y Jose</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-memory-main-content">
                <section class="d-flex flex-md-row flex-column align-items-center row" id="modal-memory-section-presentation">
                    <aside class="me-md-4 mb-3 mb-md-0 modal-memory-main_photo col-6">
                        <img src="img/mariachisybodas.jpg" alt="..." class="img-fluid rounded" id="modal-memory-section-presentation-photo">
                    </aside>
                    <article class="col-5 modal-memory-description">
                        <p class="modal-memory-text">
                            Un día como hoy 14 de Enero del 2021 se juntaron dos almas, Maria y Jose tomaron la
                            decisión de su vida al comprometerse en matrimonio. Una fecha que sin duda será muy
                            especial para los dos.
                        </p>
                        <p class="modal-memory-text">
                            En Mariachi Erian de México compartimos su alegría brindándoles este espacio dedicado
                            solo para ellos, recordando ese día tan especial.
                        </p>
                    </article>
                </section>
                <section class="my-2 row" id="modal-memory-section-images">
                    <h2 class="fs-5">Imágenes</h2>
                    <div class="row g-2">
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-image">
                            <img src="img/abe.jpeg" class="img-fluid rounded" alt="Imagen 1">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-image">
                            <img src="img/alfinal.jpeg" class="img-fluid rounded" alt="Imagen 2">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-image">
                            <img src="img/assa.jpeg" class="img-fluid rounded" alt="Imagen 3">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-image">
                            <img src="img/dsd.jpeg" class="img-fluid rounded" alt="Imagen 3">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-image">
                            <img src="img/ja.jpeg" class="img-fluid rounded" alt="Imagen 3">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-image">
                            <img src="img/mariachisybodas.jpg" class="img-fluid rounded" alt="Imagen 3">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-image">
                            <img src="img/noesreal.jpeg" class="img-fluid rounded" alt="Imagen 3">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-image">
                            <img src="img/nowe.jpg" class="img-fluid rounded" alt="Imagen 3">
                        </div>
                    </div>
                </section>
                <section class="my-2 row" id="modal-memory-section-videos">
                    <h2 class="fs-5">Videos</h2>
                    <div class="row g-2">
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-video">
                            <video controls class="img-fluid rounded">
                                <source src="img/video-presentation.mp4" type="video/mp4">
                                Tu navegador no soporta la reproducción de este video.
                            </video>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-video">
                            <video controls class="img-fluid rounded">
                                <source src="img/video-presentation.mp4" type="video/mp4">
                                Tu navegador no soporta la reproducción de este video.
                            </video>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-video">
                            <video controls class="img-fluid rounded">
                                <source src="img/video-presentation.mp4" type="video/mp4">
                                Tu navegador no soporta la reproducción de este video.
                            </video>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 modal-memory-video">
                            <video controls class="img-fluid rounded">
                                <source src="img/video-presentation.mp4" type="video/mp4">
                                Tu navegador no soporta la reproducción de este video.
                            </video>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>