<footer id="footer">
    <section class="footer-content footer-message">
        <img src="#" alt="Logo del grupo">
        <span>
            Llevamos la música tradicional mexicana a tus
            celebraciones con pasión y estilo.
        </span>
    </section>
    <section class="footer-content">
        <h4>Contáctanos</h4>
        <div>
            <img src="/assets/icons/phone.svg" alt="Telefono de contacto">
            <span>991 854 292</span>
        </div>
    </section>
    <section class="footer-content">
        <h4>Siguenos en nuestras redes sociales</h4>
        <div class="footer-content-socialmedia">
            <div>
                <img src="/assets/icons/facebook.svg" alt="Facebook del grupo">
                <span>Facebook</span>
            </div>
            <div>
                <img src="/assets/icons/youtube.svg" alt="Youtube del grupo">
                <span>Youtube</span>
            </div>
        </div>
    </section>
</footer>