<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">  
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-panel-list">
            <li class="navbar-panel-item"><a href="index.html" class="navbar-panel-item-text">INICIO</a></li>
            <li class="navbar-panel-item"><a href="about.html" class="navbar-panel-item-text">NOSOTROS</a></li>
            <li class="navbar-panel-item"><a href="services.html" class="navbar-panel-item-text">SERVICIOS</a></li>
            <li class="navbar-panel-item"><a href="memories.html" class="navbar-panel-item-text">RECUERDOS</a></li>
            <li class="navbar-panel-item"><a href="contact.html" class="navbar-panel-item-text">CONTACTO</a></li>
        </ul>
    </div>
</div>