<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/ext/bootstrap.min.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/components/header.css">
    <link rel="stylesheet" href="../css/components/navbar.css">
    <link rel="stylesheet" href="../css/components/mainCarousel.css">
    <link rel="stylesheet" href="../css/components/footer.css">
    <link rel="stylesheet" href="../css/components/navbar-menu.css">
    <title>ERIAN🎺 de México🎻</title>
</head>

<body>
    <div id="contact-container">
        <div id="header-container"></div>
        <div id="navbar-container"></div>
        <main>
            <div id="carousel-container-"></div>
            <section id="contact-page-title">
                <h2>Contacto</h2>
            </section>
            <section id="contact-page-form">
                <article id="contact-page-form-container">
                    <div class="container my-2">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="card p-4 bg-black text-white">
                                    <h2 class="text-white">Escríbenos</h2>
                                    <p>Si tienes alguna duda o consulta no dudes en escribirnos. Nosotros nos
                                        comunicaremos contigo a la brevedad posible.</p>
                                    <form>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control"
                                                    placeholder="Nombres y Apellidos" required>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="email" class="form-control"
                                                    placeholder="Correo Electrónico" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input type="tel" class="form-control" placeholder="Celular" required>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Distrito" required>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="Asunto">
                                        </div>
                                        <div class="mb-3">
                                            <textarea class="form-control" rows="5" placeholder="Mensaje"
                                            ></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-warning text-black fw-bold">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        <div id="footer-container"></div>
    </div>
    <div id="panel-right-container"></div>
    <script src="../js/ext/bootstrap.bundle.min.js"></script>
    <script src="../js/controllers/contactController.js"></script>
</body>

</html>