<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERIAN🎺 de México🎻</title>
</head>
<body>
    <header>
        <section>
            <img src="#" alt="...">
            <span></span>
        </section>
        <section>
            <img src="#" alt="...">
            <img src="#" alt="...">
        </section>
    </header>
    <nav>
        <section>
            <img src="#" alt="...">
        </section>
        <img src="#" alt="...">
    </nav>
    <main>
        <section>
            <!--carrusel de bootstrap-->
        </section>
        <section>
            <article>
                <h2></h2>
                <p></p>
                <button></button>
            </article>
            <aside>
                <video src=""></video>
            </aside>
        </section>
        <section>
            <img src="#" alt="...">
            <article>
                <h2></h2>
                <p></p>
                <p></p>
            </article>
        </section>
        <section>
            <!--carrusel de comentarios con swiper-->
        </section>
    </main>
    <footer>
        <section>
            <img src="#" alt="...">
            <span></span>
        </section>
        <section>
            <h3></h3>
            <div>
                <img src="#" alt="...">
                <span></span>
            </div>
        </section>
        <section>
            <h3></h3>
            <div>
                <div>
                    <img src="#" alt="...">
                    <span></span>
                </div>
                <div>
                    <img src="#" alt="...">
                    <span></span>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>