<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERIAN🎺 de México🎻</title>
</head>
<body>
    <header>
        <section>
            <img src="#" alt="...">
            <span></span>
        </section>
        <section>
            <img src="#" alt="...">
            <img src="#" alt="...">
        </section>
    </header>
    <nav>
        <section>
            <img src="#" alt="...">
        </section>
        <img src="#" alt="...">
    </nav>
    <main>
        <section>
            <h2></h2>
        </section>
        <section>
            <div class="memory-component">
                <div>
                    <!--imagenes en cuadricula con masonry.js-->
                </div>
                <div>
                    <!--dropdown de bootstrap-->
                </div>
                <div>
                    <h2></h2>
                    <p></p>
                    <button></button>
                </div>
            </div>
            <!--lo de arriba 3 veces mas-->
            <div class="memory-component"></div>
            <div class="memory-component"></div>
            <div class="memory-component"></div>
        </section>
    </main>
    <footer>
        <section>
            <img src="#" alt="...">
            <span></span>
        </section>
        <section>
            <h3></h3>
            <div>
                <img src="#" alt="...">
                <span></span>
            </div>
        </section>
        <section>
            <h3></h3>
            <div>
                <div>
                    <img src="#" alt="...">
                    <span></span>
                </div>
                <div>
                    <img src="#" alt="...">
                    <span></span>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>