<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/components/header.css">
    <link rel="stylesheet" href="../css/components/navbar.css">
    <link rel="stylesheet" href="../css/components/mainCarousel.css">
    <link rel="stylesheet" href="../css/components/footer.css">
    <link rel="stylesheet" href="../css/ext/bootstrap.min.css">
    <link rel="stylesheet" href="../css/memories.css">
    <link rel="stylesheet" href="../css/modal/memory.css">
    <link rel="stylesheet" href="../css/components/navbar-menu.css">
    <title>ERIAN🎺 de México🎻</title>
</head>

<body>
    <div id="memories-page-container">
        <div id="header-container"></div>
        <div id="navbar-container"></div>
        <main>
            <div id="carousel-container-"></div>
            <section id="memories-page-section-title">
                <h2>Explora nuestra sección de recuerdos</h2>
            </section>
            <section id="memories-page-section-memories_cards">
                <article class="container-fluid memories-page-section-memories_cards-memorie-card">
                    <div class="row">
                        <aside class="col-lg-5 col-md-12 images-section">
                            <div class="image-grid">
                                <img src="../assets/images/abe.jpeg" alt="Imagen de boda 1">
                                <img src="../assets/images/alfinal.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/assa.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/dsd.jpeg" alt="Imagen de boda 1">
                                <img src="../assets/images/ja.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/noesreal.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/mariachisybodas.jpg" alt="Matrimonio de Maria y Jose">
                                <img src="../assets/images/nowe.jpg" alt="Imagen de boda 2">
                                <img src="../assets/images/oytomas.jpg" alt="Imagen de boda 3">
                                <img src="../assets/images/solll.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/wasa.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/xd.jpeg" alt="Imagen de boda 3">
                            </div>
                        </aside>
                        <div class="col-lg-2 col-md-6 dropdown-section">
                            <select class="form-select mb-3" aria-label="Seleccionar año">
                                <option selected>Select year</option>
                                <option value="1">2024</option>
                                <option value="2">2023</option>
                                <option value="3">2022</option>
                                <option value="4">2021</option>
                                <option value="5">2020</option>
                            </select>
                            <select class="form-select" aria-label="Seleccionar mes">
                                <option selected>Select month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-lg-5 col-md-6 text-section">
                            <div>
                                <h2>Matrimonios</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quis minima, est
                                    unde fugit quo ipsa error in ducimus, atque molestiae tenetur incidunt beatae.
                                    Laborum officiis neque quam ab accusamus.
                                </p>
                                <button class="btn btn-warning">Contactar</button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="container-fluid memories-page-section-memories_cards-memorie-card">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 text-section">
                            <div>
                                <h2>Cumpleaños</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quidem dicta. Veritatis
                                    consequatur, a ducimus suscipit nam officia doloribus, voluptate eos corrupti
                                    voluptatem sint! Tempora impedit pariatur laborum maxime voluptas?
                                </p>
                                <button class="btn btn-warning">Contactar</button>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 dropdown-section">
                            <select class="form-select mb-3" aria-label="Seleccionar año">
                                <option selected>Select year</option>
                                <option value="1">2024</option>
                                <option value="2">2023</option>
                                <option value="3">2022</option>
                                <option value="4">2021</option>
                                <option value="5">2020</option>
                            </select>
                            <select class="form-select" aria-label="Seleccionar mes">
                                <option selected>Select month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <aside class="col-lg-5 col-md-12 images-section">
                            <div class="image-grid">
                                <img src="../assets/images/abe.jpeg" alt="Imagen de boda 1">
                                <img src="../assets/images/alfinal.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/assa.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/dsd.jpeg" alt="Imagen de boda 1">
                                <img src="../assets/images/ja.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/noesreal.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/mariachisybodas.jpg" alt="Imagen de boda 1">
                                <img src="../assets/images/nowe.jpg" alt="Imagen de boda 2">
                                <img src="../assets/images/oytomas.jpg" alt="Imagen de boda 3">
                                <img src="../assets/images/solll.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/wasa.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/xd.jpeg" alt="Imagen de boda 3">
                            </div>
                        </aside>
                    </div>
                </article>
                <article class="container-fluid memories-page-section-memories_cards-memorie-card">
                    <div class="row">
                        <aside class="col-lg-5 col-md-12 images-section">
                            <div class="image-grid">
                                <img src="../assets/images/abe.jpeg" alt="Imagen de boda 1">
                                <img src="../assets/images/alfinal.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/assa.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/dsd.jpeg" alt="Imagen de boda 1">
                                <img src="../assets/images/ja.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/noesreal.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/mariachisybodas.jpg" alt="Imagen de boda 1">
                                <img src="../assets/images/nowe.jpg" alt="Imagen de boda 2">
                                <img src="../assets/images/oytomas.jpg" alt="Imagen de boda 3">
                                <img src="../assets/images/solll.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/wasa.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/xd.jpeg" alt="Imagen de boda 3">
                            </div>
                        </aside>
                        <div class="col-lg-2 col-md-6 dropdown-section">
                            <select class="form-select mb-3" aria-label="Seleccionar año">
                                <option selected>Select year</option>
                                <option value="1">2024</option>
                                <option value="2">2023</option>
                                <option value="3">2022</option>
                                <option value="4">2021</option>
                                <option value="5">2020</option>
                            </select>
                            <select class="form-select" aria-label="Seleccionar mes">
                                <option selected>Select month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-lg-5 col-md-6 text-section">
                            <div>
                                <h2>15 Años</h2>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, deserunt
                                    doloribus dolores cum eos ratione hic aspernatur, maxime eaque sit incidunt veniam
                                    soluta tempora non consequatur. Consectetur fuga ab nam!
                                </p>
                                <button class="btn btn-warning">Contactar</button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="container-fluid memories-page-section-memories_cards-memorie-card">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 text-section">
                            <div>
                                <h2>Aniversarios</h2>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem molestias laboriosam
                                    incidunt nostrum unde sed repellendus amet atque. Dicta voluptates iure fugiat
                                    ducimus quis totam harum vel consequatur consectetur. Molestiae.
                                </p>
                                <button class="btn btn-warning">Contactar</button>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 dropdown-section">
                            <select class="form-select mb-3" aria-label="Seleccionar año">
                                <option selected>Select year</option>
                                <option value="1">2024</option>
                                <option value="2">2023</option>
                                <option value="3">2022</option>
                                <option value="4">2021</option>
                                <option value="5">2020</option>
                            </select>
                            <select class="form-select" aria-label="Seleccionar mes">
                                <option selected>Select month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <aside class="col-lg-5 col-md-12 images-section">
                            <div class="image-grid">
                                <img src="../assets/images/abe.jpeg" alt="Imagen de boda 1">
                                <img src="../assets/images/alfinal.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/assa.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/dsd.jpeg" alt="Imagen de boda 1">
                                <img src="../assets/images/ja.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/noesreal.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/mariachisybodas.jpg" alt="Imagen de boda 1">
                                <img src="../assets/images/nowe.jpg" alt="Imagen de boda 2">
                                <img src="../assets/images/oytomas.jpg" alt="Imagen de boda 3">
                                <img src="../assets/images/solll.jpeg" alt="Imagen de boda 2">
                                <img src="../assets/images/wasa.jpeg" alt="Imagen de boda 3">
                                <img src="../assets/images/xd.jpeg" alt="Imagen de boda 3">
                            </div>
                        </aside>
                    </div>
                </article>
            </section>
        </main>
        <div id="footer-container"></div>
    </div>
    <!--memory.html-->
    <div id="memory-modal-container"></div>
    <div id="panel-right-container"></div>
    <script src="../js/ext/bootstrap.bundle.min.js"></script>
    <script src="../js/controllers/memoriesController.js"></script>
</body>

</html>