<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERIAN🎺 de México🎻</title>
</head>
<body>
    <header>
        <section>
            <img src="#" alt="...">
            <span></span>
        </section>
        <section>
            <img src="#" alt="...">
            <img src="#" alt="...">
        </section>
    </header>
    <nav>
        <section>
            <img src="#" alt="...">
        </section>
        <img src="#" alt="...">
    </nav>
    <main>
        <section>
            <!--carrusel de bootstrap-->
        </section>
        <section>
            <div>
                <img src="#" alt="...">
                <img src="#" alt="...">
                <img src="#" alt="...">
                <img src="#" alt="...">
            </div>
        </section>
        <section>
            <!--esto... o tal vez cards con bootstrap, veremos-->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-header-title"></h3>
                    <span class="card-header-subtitle"></span>
                </div>
                <div class="card-body">
                    <div class="card-body-icons">
                        <img src="#" alt="icon">
                        <img src="#" alt="icon">
                        <img src="#" alt="icon">
                        <img src="#" alt="icon">
                    </div>
                    <div class="card-body-mesages">
                        <p class="card-body-message"></p>
                        <p class="card-body-message"></p>
                        <p class="card-body-message"></p>
                        <p class="card-body-message"></p>
                    </div>
                </div>
                <div class="card-footer">
                    <button></button>
                </div>
            </div>
            <!--lo de arriba 8 veces-->
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section>
            <!--Acordion de bootstrap-->
        </section>
    </main>
    <footer>
        <section>
            <img src="#" alt="...">
            <span></span>
        </section>
        <section>
            <h3></h3>
            <div>
                <img src="#" alt="...">
                <span></span>
            </div>
        </section>
        <section>
            <h3></h3>
            <div>
                <div>
                    <img src="#" alt="...">
                    <span></span>
                </div>
                <div>
                    <img src="#" alt="...">
                    <span></span>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>